@font-face {
    font-family: "tajawal-black";
    src: url("../fonts/Tajawal-Black.ttf") format("truetype")
}
@font-face {
    font-family: "tajawal-bold";
    src: url("../fonts/Tajawal-Bold.ttf") format("truetype")
}
@font-face {
    font-family: "tajawal-extrabold";
    src: url("../fonts/Tajawal-ExtraBold.ttf") format("truetype")
}
@font-face {
    font-family: "tajawal-extralight";
    src: url("../fonts/Tajawal-ExtraLight.ttf") format("truetype")
}
@font-face {
    font-family: "tajawal-light";
    src: url("../fonts/Tajawal-Light.ttf") format("truetype")
}
@font-face {
    font-family: "tajawal-medium";
    src: url("../fonts/Tajawal-Medium.ttf") format("truetype")
}
@font-face {
    font-family: "tajawal-regular";
    src: url("../fonts/Tajawal-Regular.ttf") format("truetype")
}
.denim-bg, .header-top-area.style-one, .sidebar .widget-category ul li a:before, .video-area.style-two, .footer-area.style-one {
    background-color: #a22222;
}
.primary-border, .btn.btn-primary, .main-header .header-info-item .icon-box, .business-area.style-two .business-footer {
    border-radius: 35px;
    border-color: #487ee2;
}
.primary-bg, .btn.btn-primary, .checkbox-styled:checked+label:before, .dash, .card .card-header a .zmdi-minus, .pagination .next, .pagination .prev, .sidebar .widget-category ul li.current a, .sidebar .widget-category ul li a:hover, .sidebar .widget-question, .pricing-area.style-two .pricing-box, .call-action-area.style-two h2:after, .blog-area.latest-news .entry-date, .sidebar .widget-title:before, .sidebar .sidebar-list li a:before, .comments .comments-header .comments-title span {
    background-color: #487ee2;
}
.primary-color, .btn.btn-primary.btn-link, .btn.btn-primary.btn-o:not(:hover), .btn.btn-white, .card .card-header a .zmdi, .styled-list li:before, .main-header .header-info-item .icon-box i, .services-area.style-one .icon i, .services-area.style-four .service-single .icon, .service-detail .service-box .icon, .pricing-area.style-one .pricing-table .pricing-table-title, .faq-area.style-one .faq-question .faq-question-num, .faq-area .skill-single .progress-bar, .comments .comments-list .comment .comment-reply-link {
    color: #487cdf;
}
.space-245 {
    height: 245px;
}
.gray-two-bg, .form-control.input-gray, .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    border-radius: 10px;
    background-color: #f0f3f4;
}

.white-color, .btn.btn-primary, .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active, .btn.btn-white.btn-o:not(:hover), .social-list li a i, #body .card .card-header a .zmdi-minus, .pagination .next, .pagination .prev, .header-top-area.style-one a:hover, .header-area.style-four .nav-menu>li>a, .hero-area, .hero-area h2, .hero-area p, .team-area.style-two .team-single .team-img .img-content p, .team-area.style-two .team-single .team-img .img-content p a, .sidebar .widget-category ul li.current a, .sidebar .widget-category ul li a:hover, .sidebar .widget-question h5, .sidebar .widget-question h3, .pricing-area.style-two .pricing-box h2, .pricing-area.style-two .pricing-box h5, .pricing-area.style-two .pricing-box h4, .pricing-area.style-two .pricing-box li, .pricing-area.style-two .pricing-box a, .pricing-area.style-two .pricing-box a:hover, .testimonials-area.style-two, .testimonials-area.style-two .testimonials-box .testimonials-img h5, .video-area.style-one h2, .video-area.style-two h2, .testimonials-area.style-two .testimonial-name, .stats-area i, .stats-area h4, .stats-area .timer, .partners-area.style-two .h1, .breadcrumb-area.style-two a:hover, .skills-area .h1, .skills-area p, .skills-area .progress-bar, .skills-area .skill-bar-item>h6, .skills-area .progress span.text-top, .blog-area.latest-news .entry-date, .blog-area.latest-news .entry-date h5, .share-list li a, .sidebar .tweets-widget .widget-body, .sidebar .tweets-widget h4, .sidebar .tweets-widget a, .comments .comments-header .comments-title span, .comments .comments-list .comment .comment-reply-link:hover, .footer-area.style-one .footer-title, .footer-area.style-four .footer-widgets h2, .footer-area.style-four .footer-widgets .social-list li i:hover {
    color: #fff;
    font-family: 
}

.white-color, .btn.btn-primary, .btn.btn-white:hover, .btn.btn-white:focus, .btn.btn-white:active, .btn.btn-white.btn-o:not(:hover), .social-list li a i, #body .card .card-header a .zmdi-minus, .pagination .next, .pagination .prev, .header-top-area.style-one a:hover, .header-area.style-four .nav-menu>li>a, .hero-area, .hero-area h2, .hero-area p, .team-area.style-two .team-single .team-img .img-content p, .team-area.style-two .team-single .team-img .img-content p a, .sidebar .widget-category ul li.current a, .sidebar .widget-category ul li a:hover, .sidebar .widget-question h5, .sidebar .widget-question h3, .pricing-area.style-two .pricing-box h2, .pricing-area.style-two .pricing-box h5, .pricing-area.style-two .pricing-box h4, .pricing-area.style-two .pricing-box li, .pricing-area.style-two .pricing-box a, .pricing-area.style-two .pricing-box a:hover, .testimonials-area.style-two, .testimonials-area.style-two .testimonials-box .testimonials-img h5, .video-area.style-one h2, .video-area.style-two h2, .testimonials-area.style-two .testimonial-name, .stats-area i, .stats-area h4, .stats-area .timer, .partners-area.style-two .h1, .breadcrumb-area.style-two a:hover, .skills-area .h1, .skills-area p, .skills-area .progress-bar, .skills-area .skill-bar-item>h6, .skills-area .progress span.text-top, .blog-area.latest-news .entry-date, .blog-area.latest-news .entry-date h5, .share-list li a, .sidebar .tweets-widget .widget-body, .sidebar .tweets-widget h4, .sidebar .tweets-widget a, .comments .comments-header .comments-title span, .comments .comments-list .comment .comment-reply-link:hover, .footer-area.style-one .footer-title, .footer-area.style-four .footer-widgets h2, .footer-area.style-four .footer-widgets .social-list li i:hover {
    font-family: tajawal-bold;
    color: #fff;
}
.pp{
	color: #fff;
	font-family: tajawal-light;
	line-height: 2;
}
.h1{
	color: #a22222;
	font-size: 40px;
	font-family: tajawal-bold;
	letter-spacing: 5px;
}