    /*
    Flaticon icon font: Flaticon
    Creation date: 26/01/2018 23:03
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-award:before { content: "\f100"; }
.flaticon-team:before { content: "\f101"; }
.flaticon-transport-5:before { content: "\f102"; }
.flaticon-transport-4:before { content: "\f103"; }
.flaticon-market-9:before { content: "\f104"; }
.flaticon-market-8:before { content: "\f105"; }
.flaticon-market-7:before { content: "\f106"; }
.flaticon-money-14:before { content: "\f107"; }
.flaticon-transport-3:before { content: "\f108"; }
.flaticon-market-6:before { content: "\f109"; }
.flaticon-shopping-7:before { content: "\f10a"; }
.flaticon-money-13:before { content: "\f10b"; }
.flaticon-transport-2:before { content: "\f10c"; }
.flaticon-bag-5:before { content: "\f10d"; }
.flaticon-sign:before { content: "\f10e"; }
.flaticon-shopping-6:before { content: "\f10f"; }
.flaticon-suitcase-3:before { content: "\f110"; }
.flaticon-shopping-5:before { content: "\f111"; }
.flaticon-graphic-11:before { content: "\f112"; }
.flaticon-business-6:before { content: "\f113"; }
.flaticon-suitcase-2:before { content: "\f114"; }
.flaticon-bag-4:before { content: "\f115"; }
.flaticon-transport-1:before { content: "\f116"; }
.flaticon-money-12:before { content: "\f117"; }
.flaticon-market-5:before { content: "\f118"; }
.flaticon-business-5:before { content: "\f119"; }
.flaticon-money-11:before { content: "\f11a"; }
.flaticon-market-4:before { content: "\f11b"; }
.flaticon-graphic-10:before { content: "\f11c"; }
.flaticon-money-10:before { content: "\f11d"; }
.flaticon-graphic-9:before { content: "\f11e"; }
.flaticon-money-9:before { content: "\f11f"; }
.flaticon-video:before { content: "\f120"; }
.flaticon-money-8:before { content: "\f121"; }
.flaticon-market-3:before { content: "\f122"; }
.flaticon-graphic-8:before { content: "\f123"; }
.flaticon-delete-1:before { content: "\f124"; }
.flaticon-transport:before { content: "\f125"; }
.flaticon-tool:before { content: "\f126"; }
.flaticon-business-4:before { content: "\f127"; }
.flaticon-cart-8:before { content: "\f128"; }
.flaticon-graphic-7:before { content: "\f129"; }
.flaticon-money-7:before { content: "\f12a"; }
.flaticon-graphic-6:before { content: "\f12b"; }
.flaticon-graphic-5:before { content: "\f12c"; }
.flaticon-market-2:before { content: "\f12d"; }
.flaticon-business-3:before { content: "\f12e"; }
.flaticon-market-1:before { content: "\f12f"; }
.flaticon-graphic-4:before { content: "\f130"; }
.flaticon-business-2:before { content: "\f131"; }
.flaticon-graphic-3:before { content: "\f132"; }
.flaticon-money-6:before { content: "\f133"; }
.flaticon-business-1:before { content: "\f134"; }
.flaticon-money-5:before { content: "\f135"; }
.flaticon-money-4:before { content: "\f136"; }
.flaticon-business:before { content: "\f137"; }
.flaticon-cart-7:before { content: "\f138"; }
.flaticon-graphic-2:before { content: "\f139"; }
.flaticon-delete:before { content: "\f13a"; }
.flaticon-suitcase-1:before { content: "\f13b"; }
.flaticon-money-3:before { content: "\f13c"; }
.flaticon-graphic-1:before { content: "\f13d"; }
.flaticon-suitcase:before { content: "\f13e"; }
.flaticon-money-2:before { content: "\f13f"; }
.flaticon-money-1:before { content: "\f140"; }
.flaticon-shopping-4:before { content: "\f141"; }
.flaticon-market:before { content: "\f142"; }
.flaticon-shopping-3:before { content: "\f143"; }
.flaticon-shopping-2:before { content: "\f144"; }
.flaticon-shopping-1:before { content: "\f145"; }
.flaticon-shopping:before { content: "\f146"; }
.flaticon-graphic:before { content: "\f147"; }
.flaticon-barbershop:before { content: "\f148"; }
.flaticon-price-tag-4:before { content: "\f149"; }
.flaticon-folder-1:before { content: "\f14a"; }
.flaticon-cart-6:before { content: "\f14b"; }
.flaticon-calculator:before { content: "\f14c"; }
.flaticon-barcode-1:before { content: "\f14d"; }
.flaticon-insert-coin:before { content: "\f14e"; }
.flaticon-diagram-3:before { content: "\f14f"; }
.flaticon-bag-3:before { content: "\f150"; }
.flaticon-bag-2:before { content: "\f151"; }
.flaticon-bag-1:before { content: "\f152"; }
.flaticon-poor:before { content: "\f153"; }
.flaticon-cart-5:before { content: "\f154"; }
.flaticon-pack:before { content: "\f155"; }
.flaticon-strongbox:before { content: "\f156"; }
.flaticon-pie-chart-5:before { content: "\f157"; }
.flaticon-presentation-7:before { content: "\f158"; }
.flaticon-cart-4:before { content: "\f159"; }
.flaticon-cart-3:before { content: "\f15a"; }
.flaticon-diagram-2:before { content: "\f15b"; }
.flaticon-stamp:before { content: "\f15c"; }
.flaticon-presentation-6:before { content: "\f15d"; }
.flaticon-investment:before { content: "\f15e"; }
.flaticon-graph-6:before { content: "\f15f"; }
.flaticon-credit-card-5:before { content: "\f160"; }
.flaticon-safebox:before { content: "\f161"; }
.flaticon-coin-4:before { content: "\f162"; }
.flaticon-credit-card-4:before { content: "\f163"; }
.flaticon-grocery-1:before { content: "\f164"; }
.flaticon-presentation-5:before { content: "\f165"; }
.flaticon-coin-3:before { content: "\f166"; }
.flaticon-record:before { content: "\f167"; }
.flaticon-presentation-4:before { content: "\f168"; }
.flaticon-presentation-3:before { content: "\f169"; }
.flaticon-graph-5:before { content: "\f16a"; }
.flaticon-cashier:before { content: "\f16b"; }
.flaticon-briefcase:before { content: "\f16c"; }
.flaticon-pie-chart-4:before { content: "\f16d"; }
.flaticon-bag:before { content: "\f16e"; }
.flaticon-presentation-2:before { content: "\f16f"; }
.flaticon-graph-4:before { content: "\f170"; }
.flaticon-price-tag-3:before { content: "\f171"; }
.flaticon-price-tag-2:before { content: "\f172"; }
.flaticon-stand:before { content: "\f173"; }
.flaticon-pie-chart-3:before { content: "\f174"; }
.flaticon-box-2:before { content: "\f175"; }
.flaticon-folder:before { content: "\f176"; }
.flaticon-store-3:before { content: "\f177"; }
.flaticon-piggy-bank-1:before { content: "\f178"; }
.flaticon-barcode:before { content: "\f179"; }
.flaticon-bank:before { content: "\f17a"; }
.flaticon-presentation-1:before { content: "\f17b"; }
.flaticon-pie-chart-2:before { content: "\f17c"; }
.flaticon-store-2:before { content: "\f17d"; }
.flaticon-credit-card-3:before { content: "\f17e"; }
.flaticon-time-is-money:before { content: "\f17f"; }
.flaticon-diagram-1:before { content: "\f180"; }
.flaticon-open:before { content: "\f181"; }
.flaticon-rewind-time:before { content: "\f182"; }
.flaticon-cart-2:before { content: "\f183"; }
.flaticon-coin-2:before { content: "\f184"; }
.flaticon-point-of-service:before { content: "\f185"; }
.flaticon-box-1:before { content: "\f186"; }
.flaticon-coin-1:before { content: "\f187"; }
.flaticon-justice-scale:before { content: "\f188"; }
.flaticon-credit-card-2:before { content: "\f189"; }
.flaticon-store-1:before { content: "\f18a"; }
.flaticon-graph-3:before { content: "\f18b"; }
.flaticon-credit-card-1:before { content: "\f18c"; }
.flaticon-box:before { content: "\f18d"; }
.flaticon-graph-2:before { content: "\f18e"; }
.flaticon-graph-1:before { content: "\f18f"; }
.flaticon-pie-chart-1:before { content: "\f190"; }
.flaticon-justice:before { content: "\f191"; }
.flaticon-grocery:before { content: "\f192"; }
.flaticon-check:before { content: "\f193"; }
.flaticon-diagram:before { content: "\f194"; }
.flaticon-notes-1:before { content: "\f195"; }
.flaticon-time-passing:before { content: "\f196"; }
.flaticon-price-tag-1:before { content: "\f197"; }
.flaticon-piggy-bank:before { content: "\f198"; }
.flaticon-cart-1:before { content: "\f199"; }
.flaticon-coin:before { content: "\f19a"; }
.flaticon-wallet:before { content: "\f19b"; }
.flaticon-credit-card:before { content: "\f19c"; }
.flaticon-megaphone:before { content: "\f19d"; }
.flaticon-cart:before { content: "\f19e"; }
.flaticon-store:before { content: "\f19f"; }
.flaticon-money:before { content: "\f1a0"; }
.flaticon-coins-1:before { content: "\f1a1"; }
.flaticon-graph:before { content: "\f1a2"; }
.flaticon-coins:before { content: "\f1a3"; }
.flaticon-change:before { content: "\f1a4"; }
.flaticon-get-money:before { content: "\f1a5"; }
.flaticon-notes:before { content: "\f1a6"; }
.flaticon-rich:before { content: "\f1a7"; }
.flaticon-pie-chart:before { content: "\f1a8"; }
.flaticon-price-tag:before { content: "\f1a9"; }
.flaticon-presentation:before { content: "\f1aa"; }
.flaticon-receipt:before { content: "\f1ab"; }
    
    $font-Flaticon-award: "\f100";
    $font-Flaticon-team: "\f101";
    $font-Flaticon-transport-5: "\f102";
    $font-Flaticon-transport-4: "\f103";
    $font-Flaticon-market-9: "\f104";
    $font-Flaticon-market-8: "\f105";
    $font-Flaticon-market-7: "\f106";
    $font-Flaticon-money-14: "\f107";
    $font-Flaticon-transport-3: "\f108";
    $font-Flaticon-market-6: "\f109";
    $font-Flaticon-shopping-7: "\f10a";
    $font-Flaticon-money-13: "\f10b";
    $font-Flaticon-transport-2: "\f10c";
    $font-Flaticon-bag-5: "\f10d";
    $font-Flaticon-sign: "\f10e";
    $font-Flaticon-shopping-6: "\f10f";
    $font-Flaticon-suitcase-3: "\f110";
    $font-Flaticon-shopping-5: "\f111";
    $font-Flaticon-graphic-11: "\f112";
    $font-Flaticon-business-6: "\f113";
    $font-Flaticon-suitcase-2: "\f114";
    $font-Flaticon-bag-4: "\f115";
    $font-Flaticon-transport-1: "\f116";
    $font-Flaticon-money-12: "\f117";
    $font-Flaticon-market-5: "\f118";
    $font-Flaticon-business-5: "\f119";
    $font-Flaticon-money-11: "\f11a";
    $font-Flaticon-market-4: "\f11b";
    $font-Flaticon-graphic-10: "\f11c";
    $font-Flaticon-money-10: "\f11d";
    $font-Flaticon-graphic-9: "\f11e";
    $font-Flaticon-money-9: "\f11f";
    $font-Flaticon-video: "\f120";
    $font-Flaticon-money-8: "\f121";
    $font-Flaticon-market-3: "\f122";
    $font-Flaticon-graphic-8: "\f123";
    $font-Flaticon-delete-1: "\f124";
    $font-Flaticon-transport: "\f125";
    $font-Flaticon-tool: "\f126";
    $font-Flaticon-business-4: "\f127";
    $font-Flaticon-cart-8: "\f128";
    $font-Flaticon-graphic-7: "\f129";
    $font-Flaticon-money-7: "\f12a";
    $font-Flaticon-graphic-6: "\f12b";
    $font-Flaticon-graphic-5: "\f12c";
    $font-Flaticon-market-2: "\f12d";
    $font-Flaticon-business-3: "\f12e";
    $font-Flaticon-market-1: "\f12f";
    $font-Flaticon-graphic-4: "\f130";
    $font-Flaticon-business-2: "\f131";
    $font-Flaticon-graphic-3: "\f132";
    $font-Flaticon-money-6: "\f133";
    $font-Flaticon-business-1: "\f134";
    $font-Flaticon-money-5: "\f135";
    $font-Flaticon-money-4: "\f136";
    $font-Flaticon-business: "\f137";
    $font-Flaticon-cart-7: "\f138";
    $font-Flaticon-graphic-2: "\f139";
    $font-Flaticon-delete: "\f13a";
    $font-Flaticon-suitcase-1: "\f13b";
    $font-Flaticon-money-3: "\f13c";
    $font-Flaticon-graphic-1: "\f13d";
    $font-Flaticon-suitcase: "\f13e";
    $font-Flaticon-money-2: "\f13f";
    $font-Flaticon-money-1: "\f140";
    $font-Flaticon-shopping-4: "\f141";
    $font-Flaticon-market: "\f142";
    $font-Flaticon-shopping-3: "\f143";
    $font-Flaticon-shopping-2: "\f144";
    $font-Flaticon-shopping-1: "\f145";
    $font-Flaticon-shopping: "\f146";
    $font-Flaticon-graphic: "\f147";
    $font-Flaticon-barbershop: "\f148";
    $font-Flaticon-price-tag-4: "\f149";
    $font-Flaticon-folder-1: "\f14a";
    $font-Flaticon-cart-6: "\f14b";
    $font-Flaticon-calculator: "\f14c";
    $font-Flaticon-barcode-1: "\f14d";
    $font-Flaticon-insert-coin: "\f14e";
    $font-Flaticon-diagram-3: "\f14f";
    $font-Flaticon-bag-3: "\f150";
    $font-Flaticon-bag-2: "\f151";
    $font-Flaticon-bag-1: "\f152";
    $font-Flaticon-poor: "\f153";
    $font-Flaticon-cart-5: "\f154";
    $font-Flaticon-pack: "\f155";
    $font-Flaticon-strongbox: "\f156";
    $font-Flaticon-pie-chart-5: "\f157";
    $font-Flaticon-presentation-7: "\f158";
    $font-Flaticon-cart-4: "\f159";
    $font-Flaticon-cart-3: "\f15a";
    $font-Flaticon-diagram-2: "\f15b";
    $font-Flaticon-stamp: "\f15c";
    $font-Flaticon-presentation-6: "\f15d";
    $font-Flaticon-investment: "\f15e";
    $font-Flaticon-graph-6: "\f15f";
    $font-Flaticon-credit-card-5: "\f160";
    $font-Flaticon-safebox: "\f161";
    $font-Flaticon-coin-4: "\f162";
    $font-Flaticon-credit-card-4: "\f163";
    $font-Flaticon-grocery-1: "\f164";
    $font-Flaticon-presentation-5: "\f165";
    $font-Flaticon-coin-3: "\f166";
    $font-Flaticon-record: "\f167";
    $font-Flaticon-presentation-4: "\f168";
    $font-Flaticon-presentation-3: "\f169";
    $font-Flaticon-graph-5: "\f16a";
    $font-Flaticon-cashier: "\f16b";
    $font-Flaticon-briefcase: "\f16c";
    $font-Flaticon-pie-chart-4: "\f16d";
    $font-Flaticon-bag: "\f16e";
    $font-Flaticon-presentation-2: "\f16f";
    $font-Flaticon-graph-4: "\f170";
    $font-Flaticon-price-tag-3: "\f171";
    $font-Flaticon-price-tag-2: "\f172";
    $font-Flaticon-stand: "\f173";
    $font-Flaticon-pie-chart-3: "\f174";
    $font-Flaticon-box-2: "\f175";
    $font-Flaticon-folder: "\f176";
    $font-Flaticon-store-3: "\f177";
    $font-Flaticon-piggy-bank-1: "\f178";
    $font-Flaticon-barcode: "\f179";
    $font-Flaticon-bank: "\f17a";
    $font-Flaticon-presentation-1: "\f17b";
    $font-Flaticon-pie-chart-2: "\f17c";
    $font-Flaticon-store-2: "\f17d";
    $font-Flaticon-credit-card-3: "\f17e";
    $font-Flaticon-time-is-money: "\f17f";
    $font-Flaticon-diagram-1: "\f180";
    $font-Flaticon-open: "\f181";
    $font-Flaticon-rewind-time: "\f182";
    $font-Flaticon-cart-2: "\f183";
    $font-Flaticon-coin-2: "\f184";
    $font-Flaticon-point-of-service: "\f185";
    $font-Flaticon-box-1: "\f186";
    $font-Flaticon-coin-1: "\f187";
    $font-Flaticon-justice-scale: "\f188";
    $font-Flaticon-credit-card-2: "\f189";
    $font-Flaticon-store-1: "\f18a";
    $font-Flaticon-graph-3: "\f18b";
    $font-Flaticon-credit-card-1: "\f18c";
    $font-Flaticon-box: "\f18d";
    $font-Flaticon-graph-2: "\f18e";
    $font-Flaticon-graph-1: "\f18f";
    $font-Flaticon-pie-chart-1: "\f190";
    $font-Flaticon-justice: "\f191";
    $font-Flaticon-grocery: "\f192";
    $font-Flaticon-check: "\f193";
    $font-Flaticon-diagram: "\f194";
    $font-Flaticon-notes-1: "\f195";
    $font-Flaticon-time-passing: "\f196";
    $font-Flaticon-price-tag-1: "\f197";
    $font-Flaticon-piggy-bank: "\f198";
    $font-Flaticon-cart-1: "\f199";
    $font-Flaticon-coin: "\f19a";
    $font-Flaticon-wallet: "\f19b";
    $font-Flaticon-credit-card: "\f19c";
    $font-Flaticon-megaphone: "\f19d";
    $font-Flaticon-cart: "\f19e";
    $font-Flaticon-store: "\f19f";
    $font-Flaticon-money: "\f1a0";
    $font-Flaticon-coins-1: "\f1a1";
    $font-Flaticon-graph: "\f1a2";
    $font-Flaticon-coins: "\f1a3";
    $font-Flaticon-change: "\f1a4";
    $font-Flaticon-get-money: "\f1a5";
    $font-Flaticon-notes: "\f1a6";
    $font-Flaticon-rich: "\f1a7";
    $font-Flaticon-pie-chart: "\f1a8";
    $font-Flaticon-price-tag: "\f1a9";
    $font-Flaticon-presentation: "\f1aa";
    $font-Flaticon-receipt: "\f1ab";