	/*
  	Flaticon icon font: Flaticon
  	Creation date: 26/01/2018 23:03
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
font-style: normal;
}

.flaticon-award:before { content: "\f100"; }
.flaticon-team:before { content: "\f101"; }
.flaticon-transport-5:before { content: "\f102"; }
.flaticon-transport-4:before { content: "\f103"; }
.flaticon-market-9:before { content: "\f104"; }
.flaticon-market-8:before { content: "\f105"; }
.flaticon-market-7:before { content: "\f106"; }
.flaticon-money-14:before { content: "\f107"; }
.flaticon-transport-3:before { content: "\f108"; }
.flaticon-market-6:before { content: "\f109"; }
.flaticon-shopping-7:before { content: "\f10a"; }
.flaticon-money-13:before { content: "\f10b"; }
.flaticon-transport-2:before { content: "\f10c"; }
.flaticon-bag-5:before { content: "\f10d"; }
.flaticon-sign:before { content: "\f10e"; }
.flaticon-shopping-6:before { content: "\f10f"; }
.flaticon-suitcase-3:before { content: "\f110"; }
.flaticon-shopping-5:before { content: "\f111"; }
.flaticon-graphic-11:before { content: "\f112"; }
.flaticon-business-6:before { content: "\f113"; }
.flaticon-suitcase-2:before { content: "\f114"; }
.flaticon-bag-4:before { content: "\f115"; }
.flaticon-transport-1:before { content: "\f116"; }
.flaticon-money-12:before { content: "\f117"; }
.flaticon-market-5:before { content: "\f118"; }
.flaticon-business-5:before { content: "\f119"; }
.flaticon-money-11:before { content: "\f11a"; }
.flaticon-market-4:before { content: "\f11b"; }
.flaticon-graphic-10:before { content: "\f11c"; }
.flaticon-money-10:before { content: "\f11d"; }
.flaticon-graphic-9:before { content: "\f11e"; }
.flaticon-money-9:before { content: "\f11f"; }
.flaticon-video:before { content: "\f120"; }
.flaticon-money-8:before { content: "\f121"; }
.flaticon-market-3:before { content: "\f122"; }
.flaticon-graphic-8:before { content: "\f123"; }
.flaticon-delete-1:before { content: "\f124"; }
.flaticon-transport:before { content: "\f125"; }
.flaticon-tool:before { content: "\f126"; }
.flaticon-business-4:before { content: "\f127"; }
.flaticon-cart-8:before { content: "\f128"; }
.flaticon-graphic-7:before { content: "\f129"; }
.flaticon-money-7:before { content: "\f12a"; }
.flaticon-graphic-6:before { content: "\f12b"; }
.flaticon-graphic-5:before { content: "\f12c"; }
.flaticon-market-2:before { content: "\f12d"; }
.flaticon-business-3:before { content: "\f12e"; }
.flaticon-market-1:before { content: "\f12f"; }
.flaticon-graphic-4:before { content: "\f130"; }
.flaticon-business-2:before { content: "\f131"; }
.flaticon-graphic-3:before { content: "\f132"; }
.flaticon-money-6:before { content: "\f133"; }
.flaticon-business-1:before { content: "\f134"; }
.flaticon-money-5:before { content: "\f135"; }
.flaticon-money-4:before { content: "\f136"; }
.flaticon-business:before { content: "\f137"; }
.flaticon-cart-7:before { content: "\f138"; }
.flaticon-graphic-2:before { content: "\f139"; }
.flaticon-delete:before { content: "\f13a"; }
.flaticon-suitcase-1:before { content: "\f13b"; }
.flaticon-money-3:before { content: "\f13c"; }
.flaticon-graphic-1:before { content: "\f13d"; }
.flaticon-suitcase:before { content: "\f13e"; }
.flaticon-money-2:before { content: "\f13f"; }
.flaticon-money-1:before { content: "\f140"; }
.flaticon-shopping-4:before { content: "\f141"; }
.flaticon-market:before { content: "\f142"; }
.flaticon-shopping-3:before { content: "\f143"; }
.flaticon-shopping-2:before { content: "\f144"; }
.flaticon-shopping-1:before { content: "\f145"; }
.flaticon-shopping:before { content: "\f146"; }
.flaticon-graphic:before { content: "\f147"; }
.flaticon-barbershop:before { content: "\f148"; }
.flaticon-price-tag-4:before { content: "\f149"; }
.flaticon-folder-1:before { content: "\f14a"; }
.flaticon-cart-6:before { content: "\f14b"; }
.flaticon-calculator:before { content: "\f14c"; }
.flaticon-barcode-1:before { content: "\f14d"; }
.flaticon-insert-coin:before { content: "\f14e"; }
.flaticon-diagram-3:before { content: "\f14f"; }
.flaticon-bag-3:before { content: "\f150"; }
.flaticon-bag-2:before { content: "\f151"; }
.flaticon-bag-1:before { content: "\f152"; }
.flaticon-poor:before { content: "\f153"; }
.flaticon-cart-5:before { content: "\f154"; }
.flaticon-pack:before { content: "\f155"; }
.flaticon-strongbox:before { content: "\f156"; }
.flaticon-pie-chart-5:before { content: "\f157"; }
.flaticon-presentation-7:before { content: "\f158"; }
.flaticon-cart-4:before { content: "\f159"; }
.flaticon-cart-3:before { content: "\f15a"; }
.flaticon-diagram-2:before { content: "\f15b"; }
.flaticon-stamp:before { content: "\f15c"; }
.flaticon-presentation-6:before { content: "\f15d"; }
.flaticon-investment:before { content: "\f15e"; }
.flaticon-graph-6:before { content: "\f15f"; }
.flaticon-credit-card-5:before { content: "\f160"; }
.flaticon-safebox:before { content: "\f161"; }
.flaticon-coin-4:before { content: "\f162"; }
.flaticon-credit-card-4:before { content: "\f163"; }
.flaticon-grocery-1:before { content: "\f164"; }
.flaticon-presentation-5:before { content: "\f165"; }
.flaticon-coin-3:before { content: "\f166"; }
.flaticon-record:before { content: "\f167"; }
.flaticon-presentation-4:before { content: "\f168"; }
.flaticon-presentation-3:before { content: "\f169"; }
.flaticon-graph-5:before { content: "\f16a"; }
.flaticon-cashier:before { content: "\f16b"; }
.flaticon-briefcase:before { content: "\f16c"; }
.flaticon-pie-chart-4:before { content: "\f16d"; }
.flaticon-bag:before { content: "\f16e"; }
.flaticon-presentation-2:before { content: "\f16f"; }
.flaticon-graph-4:before { content: "\f170"; }
.flaticon-price-tag-3:before { content: "\f171"; }
.flaticon-price-tag-2:before { content: "\f172"; }
.flaticon-stand:before { content: "\f173"; }
.flaticon-pie-chart-3:before { content: "\f174"; }
.flaticon-box-2:before { content: "\f175"; }
.flaticon-folder:before { content: "\f176"; }
.flaticon-store-3:before { content: "\f177"; }
.flaticon-piggy-bank-1:before { content: "\f178"; }
.flaticon-barcode:before { content: "\f179"; }
.flaticon-bank:before { content: "\f17a"; }
.flaticon-presentation-1:before { content: "\f17b"; }
.flaticon-pie-chart-2:before { content: "\f17c"; }
.flaticon-store-2:before { content: "\f17d"; }
.flaticon-credit-card-3:before { content: "\f17e"; }
.flaticon-time-is-money:before { content: "\f17f"; }
.flaticon-diagram-1:before { content: "\f180"; }
.flaticon-open:before { content: "\f181"; }
.flaticon-rewind-time:before { content: "\f182"; }
.flaticon-cart-2:before { content: "\f183"; }
.flaticon-coin-2:before { content: "\f184"; }
.flaticon-point-of-service:before { content: "\f185"; }
.flaticon-box-1:before { content: "\f186"; }
.flaticon-coin-1:before { content: "\f187"; }
.flaticon-justice-scale:before { content: "\f188"; }
.flaticon-credit-card-2:before { content: "\f189"; }
.flaticon-store-1:before { content: "\f18a"; }
.flaticon-graph-3:before { content: "\f18b"; }
.flaticon-credit-card-1:before { content: "\f18c"; }
.flaticon-box:before { content: "\f18d"; }
.flaticon-graph-2:before { content: "\f18e"; }
.flaticon-graph-1:before { content: "\f18f"; }
.flaticon-pie-chart-1:before { content: "\f190"; }
.flaticon-justice:before { content: "\f191"; }
.flaticon-grocery:before { content: "\f192"; }
.flaticon-check:before { content: "\f193"; }
.flaticon-diagram:before { content: "\f194"; }
.flaticon-notes-1:before { content: "\f195"; }
.flaticon-time-passing:before { content: "\f196"; }
.flaticon-price-tag-1:before { content: "\f197"; }
.flaticon-piggy-bank:before { content: "\f198"; }
.flaticon-cart-1:before { content: "\f199"; }
.flaticon-coin:before { content: "\f19a"; }
.flaticon-wallet:before { content: "\f19b"; }
.flaticon-credit-card:before { content: "\f19c"; }
.flaticon-megaphone:before { content: "\f19d"; }
.flaticon-cart:before { content: "\f19e"; }
.flaticon-store:before { content: "\f19f"; }
.flaticon-money:before { content: "\f1a0"; }
.flaticon-coins-1:before { content: "\f1a1"; }
.flaticon-graph:before { content: "\f1a2"; }
.flaticon-coins:before { content: "\f1a3"; }
.flaticon-change:before { content: "\f1a4"; }
.flaticon-get-money:before { content: "\f1a5"; }
.flaticon-notes:before { content: "\f1a6"; }
.flaticon-rich:before { content: "\f1a7"; }
.flaticon-pie-chart:before { content: "\f1a8"; }
.flaticon-price-tag:before { content: "\f1a9"; }
.flaticon-presentation:before { content: "\f1aa"; }
.flaticon-receipt:before { content: "\f1ab"; }