
  *{
    margin:0;
    padding:0;
  }
  table tr td .comp{

    font-size:15  ;
    position: absolute;
    color:#000;

  }
  table tr td .comp:hover{

    color:#34a853;  
    font-size:18px;

  }
   .s tr td{
      height: 80px;
      box-shadow: 0px 3px;
  }


  .hs-card{


    box-sizing: box;
    border: 1px solid #ddd;
    width: 200px;
    height: 200px;
    padding:5px;
    margin-bottom: 10px;
    margin-right: 10px;
    box-shadow: 1px 2px;
    border-radius: 5px;
    display:inline-block;
  }

  .hs-card:hover{
    background: #ddd;
  }

  .hs-card-img
  {
    height: 100px;
    width: 100px;
    margin-left: 25%;
    margin-top: 25%;
    cursor: pointer;



  }



