/*-------------------------------------------------*/
/* TABLE OF CONTENTS */
/* --------------------
    01. HEADER
    02. HERO AREA
    03. BUSINESS AREA
    04. TYPO AREA
    05. ABOUT COMPANY AREA
    06. FEATURES AREA
    07. TEAM AREA
    08. COUNTER AREA
    09. PORTFOLIO AREA
    10. SERVICES AREA
    11. PRICING AREA
    12. TESTIMONIALS AREA
    13. CALL ACTION AREA
    14. VIDEO AREA
    15. TESTIMONIALS AREA
    16. STATS AREA
    17. PARTNERS AREA
    18. BREADCRUMB AREA
    19. FAQ AREA
    20. CONTACT AREA
    21. SAY HELLLO AREA
    22. TALK TO US AREA
    23. FAQ AREA
    24. ERROR PAGE AREA
    25. BLOG AREA
    26. FOOTER AREA
/*-------------------------------------------------*/

@charset "utf-8";

/*-------------------------------------------------*/
/* HEADER
/*-------------------------------------------------*/

.header-top-area.style-one {
    font-size: 15px;
    font-weight: 600;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.header-top-area.style-one .row {
    height: 50px;
}

@media (max-width: 991px) {
    .header-top-area.style-one .col-xs-12 {
        text-align: center;
    }
}

.header-top-area.style-one .header-top-left {
    margin-right: -30px;
}

.header-top-area.style-one .header-top-left li {
    display: inline-block;
    margin-right: 30px;
}

.header-top-area.style-one .header-top-left li i {
    margin-right: 10px;
}

.header-top-area.style-one .header-top-right {
    font-size: 17px;
    margin-right: -15px;
}

.header-top-area.style-one .header-top-right li {
    display: inline-block;
    margin-right: 15px;
}

.header-top-area.style-two {
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.header-top-area.style-two .row {
    height: 40px;
}

.header-top-area.style-two .header-top-left {
    font-size: 13px;
    margin-right: -16px;
    margin-left: -10px;
    overflow: hidden;
}

.header-top-area.style-two .header-top-left li {
    display: block;
    float: left;
    padding-right: 10px;
    padding-left: 10px;
    border-right-width: 1px;
    border-right-style: solid;
}

.header-top-area.style-two .header-top-left li a {
    font-weight: 500;
}

.header-top-area.style-two .header-top-right {
    font-size: 16px;
    margin-right: -15px;
}

.header-top-area.style-two .header-top-right li {
    display: inline-block;
    margin-right: 15px;
}

.header-area {
    position: relative;
    z-index: 99;
}

.header-area .nav-menu>li>a {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
}

.header-area.style-two {
    border-top-width: 1px;
    border-top-style: solid;
}

.header-area.fixed-header {
    height: 0;
}

.header-area.fixed-header .navigation {
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    background-color: rgba(255, 255, 255, 1);
}

.main-header {
    padding: 30px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.main-header .logo {
    display: inline-block;
}

.main-header .header-info-item {
    position: relative;
    display: block;
    padding-left: 53px;
    overflow: hidden;
}

.main-header .header-info-item .icon-box {
    position: absolute;
    top: 5px;
    left: 0;
    width: 42px;
    height: 42px;
    text-align: center;
    border-radius: 50%;
    display: inline-block;
    border-width: 2px;
    border-style: solid;
}

.main-header .header-info-item .icon-box i {
    font-size: 22px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.main-header .header-info-item h4 {
    font-size: 14px;
    line-height: 1.7em;
    font-weight: 700;
    margin: 3px 0 0;
}

.main-header .header-info-item p {
    font-size: 13px;
}
.header-fixed {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
}


/*-------------------------------------------------*/
/* HERO AREA
/*-------------------------------------------------*/

.hero-area h2 {
    font-size: 45px;
    line-height: 1.2em;
    margin-bottom: 30px;
}

.hero-area .hero-slider .slider-item {
    min-height: 700px;
    padding: 100px;
}

@media (max-width: 1199px) {
    .hero-area .hero-slider .slider-item {
        padding: 80px;
    }
}

@media (max-width: 991px) {
    .hero-area .hero-slider .slider-item {
        padding: 60px;
    }
}

@media (max-width: 767px) {
    .hero-area .hero-slider .slider-item {
        padding: 50px;
    }
}

@media (max-width: 575px) {
    .hero-area .hero-slider .slider-item {
        padding: 40px;
    }
}

.hero-area .hero-image {
    padding: 100px 0;
}
.hero-area .hero-image .container > .row {
    min-height: 500px;
}
.hero-area .hero-video {
    padding: 100px 0;
}
.hero-area .hero-video .container > .row {
    min-height: 600px;
}


/*-------------------------------------------------*/
/* BUSINESS AREA
/*-------------------------------------------------*/

.business-area {
    padding: 110px 0 120px;
}

.business-area .section-header {
    margin-bottom: 100px;
}

.business-area.style-one figure {
    margin-bottom: 20px;
}

.business-area.style-two .business-image {
    margin-bottom: 20px;
}

.business-area.style-two h4 {
    margin-bottom: 0px;
    font-size: 16px;
    font-weight: 500;
}

.business-area.style-two span {
    display: block;
}

.business-area.style-two .business-footer {
    padding-left: 15px;
    border-left-width: 3px;
    border-left-style: solid;
}


/*-------------------------------------------------*/
/* TYPO AREA
/*-------------------------------------------------*/

.typo-area {
    padding: 100px 0;
}


/*-------------------------------------------------*/
/* ABOUT COMPANY AREA
/*-------------------------------------------------*/

.about-company-area.style-one {
    padding: 110px 0;
}

.about-company-area.style-one .section-header {
    margin-bottom: 100px;
}

.about-company-area.style-one .h1 {
    font-size: 30px;
    line-height: 1.6em;
}

.about-company-area.style-one .author-info h5 {
    margin-bottom: 6px;
}

.about-company-area.style-two {
    padding: 120px 0;
}


/*-------------------------------------------------*/
/* FEATURES AREA
/*-------------------------------------------------*/

.features-area {
    padding: 110px 0 120px;
}

.features-area .section-header {
    margin-bottom: 100px;
}

.features-area .feature-icon {
    display: inline-block;
    width: 90px;
    height: 90px;
    padding: 20px;
    margin-bottom: 24px;
    border-radius: 999px;
}

.features-two {
    padding: 80px 0;
}

.features-two .feature-single-wrap:not(:first-child) {
    border-left-width: 1px;
    border-left-style: solid;
}

@media (max-width: 991px) {
    .features-two .feature-single-wrap {
        border: 0 !important;
    }
}

.features-two .feature-single-wrap .feature-single {
    padding: 15px 0;
}

.features-two .feature-single-wrap .feature-single .icon {
    font-size: 40px;
    margin-bottom: 20px;
}


/*-------------------------------------------------*/
/* TEAM AREA
/*-------------------------------------------------*/

.team-area {
    padding: 110px 0 120px;
}

.team-area .section-header {
    margin-bottom: 100px;
}

.team-area.style-one .single-team {
    display: block;
    max-width: 320px;
    margin: 0 auto;
    text-align: center;
}

.team-area.style-one .single-team .member-avatar {
    display: inline-block;
    height: 150px;
    width: 150px;
    margin-bottom: 20px;
}

.team-area.style-one .single-team .h5 {
    font-weight: 600;
    margin-bottom: 20px;
}

.team-area.style-one .single-team .h5 span {
    display: block;
    font-size: 90%;
}

.team-area.style-two .team-single {
    text-align: center;
}

.team-area.style-two .team-single .team-img {
    margin-bottom: 15px;
    position: relative;
}

.team-area.style-two .team-single .team-img .img-hover {
    opacity: 0;
    -webkit-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.team-area.style-two .team-single .team-img .img-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -50%;
    text-align: center;
    z-index: 99;
    bottom: -20px;
    -webkit-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.team-area.style-two .team-single .team-img .img-content p {
    font-family: 700;
    margin-bottom: 8px;
    -webkit-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.team-area.style-two .team-single .team-img .img-content p:nth-of-type(2) {
    margin-top: 100%;
}

.team-area.style-two .team-single h5 {
    margin-bottom: 5px;
}

.team-area.style-two .team-single:hover .img-hover {
    opacity: 1;
}

.team-area.style-two .team-single:hover .img-content {
    bottom: 10px;
}

.team-area.style-two .team-single:hover .img-content p:nth-of-type(2) {
    margin-top: 0;
}

.team-area.style-three .member-avatar {
    width: 70px;
}

.team-area.style-three .h5 {
    font-weight: 600;
    margin-bottom: 0;
}

.team-area.style-three .h5 span {
    display: block;
    margin-top: 10px;
    font-size: 90%;
}

.team-area.style-three .person-description {
    margin-top: 20px;
}


/*-------------------------------------------------*/
/* COUNTER AREA
/*-------------------------------------------------*/

.counter-area {
    padding: 110px 0;
}

.counter-area .banner-title {
    font-size: 32px;
}

.counter-area .count-number {
    font-size: 36px;
}

.counter-area h6 {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}


/*-------------------------------------------------*/
/* PORTFOLIO AREA
/*-------------------------------------------------*/

.portfolio-area {
    padding: 110px 0 120px;
}

.portfolio-area .section-header {
    margin-bottom: 100px;
}

.portfolio-area .portfolio-single {
    position: relative;
}

.portfolio-area .portfolio-single .portfolio-overlay {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-line-pack: center;
        align-content: center;
    text-transform: uppercase;
    -webkit-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
}

.portfolio-area .portfolio-single .portfolio-overlay .portfolio-body {
    font-size: 30px;
    text-align: center;
    width: 100%;
}

.portfolio-area .portfolio-single:hover .portfolio-overlay {
    opacity: 1;
}

.portfolio-area.grid-style .portfolio-single .portfolio-overlay {
    cursor: url("../images/icons/cursor-plus.png"), crosshair;
}

.portfolio-single .project-detail-list li {
    font-size: 13px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 12px;
}

.portfolio-single .project-detail-list li:last-child {
    margin-bottom: 0;
}

.portfolio-single .project-detail-list li span {
    float: right;
    font-weight: 500;
}


/*-------------------------------------------------*/
/* SERVICES AREA
/*-------------------------------------------------*/

.services-area {
    padding: 110px 0 120px;
}

.services-area .section-header {
    margin-bottom: 100px;
}

.services-area.style-one h5 {
    font-size: 18px;
    font-weight: 600;
}

.services-area.style-one .icon {
    font-size: 50px;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    border-radius: 990%;
    margin-bottom: 10px;
}

.services-area.style-one .icon i:before {
    padding-left: 20px;
}

.services-area.style-two {
    padding: 110px 0 120px;
}

.services-area.style-two .section-header {
    margin-bottom: 70px;
}

.services-area.style-two .service-single {
    padding: 30px;
    text-align: center;
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
            box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.services-area.style-two .service-single .icon {
    font-size: 50px;
    width: 64px;
    height: 64px;
    max-width: 64px;
    max-height: 64px;
    border-radius: 990%;
    margin-bottom: 10px;
}

.services-area.style-three {
    padding: 100px 0;
}

.services-area.style-three .single-practice .practice-img {
    margin-bottom: 15px;
}

.services-area.style-three .single-practice h5 {
    margin-bottom: 5px;
}

.services-area.style-four .service-single {
    -webkit-transition: all 400ms linear 0s;
    transition: all 400ms linear 0s;
    position: relative;
    padding: 30px;
    overflow: hidden;
}

.services-area.style-four .service-single .icon {
    font-size: 70px;
    position: absolute;
    right: -10px;
    bottom: 10px;
}

.services-area.style-four .service-single .icon i {
    display: block;
}

.services-area.style-four .service-single:hover {
    -webkit-box-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 65px rgba(0, 0, 0, 0.1);
}

.service-detail h5 {
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 1.1px;
}

.service-detail .service-box h4 {
    font-size: 17px;
    margin-bottom: 5px;
}

.service-detail .service-box .icon {
    display: block;
    width: 84px;
    height: 84px;
    line-height: 84px;
    margin-right: 20px;
    border-width: 1px;
    border-style: solid;
    text-align: center;
    font-size: 50px;
}

.sidebar .widget-category ul {
    position: relative;
    border-width: 1px;
    border-style: solid;
}

.sidebar .widget-category ul li {
    position: relative;
    line-height: 24px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.sidebar .widget-category ul li:last-child {
    border-bottom: 0px;
}

.sidebar .widget-category ul li a {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 15px;
    font-weight: 600;
    padding: 0 15px 0 18px;
    height: 50px;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sidebar .widget-category ul li a span {
    margin: auto 0;
}

.sidebar .widget-category ul li a:before {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 999px;
    left: 18px;
    margin: auto 15px auto 0;
}

.sidebar .widget-category ul li a:after {
    content: "\f2ee";
    display: inline-block;
    font-family: 'Material-Design-Iconic-Font';
    margin: auto 4px auto auto;
}

.sidebar .widget-testimonials {
    border-width: 1px;
    border-style: solid;
}

.sidebar .widget-testimonials .item {
    padding: 20px 15px;
}

.sidebar .widget-testimonials .item .author-info {
    margin-bottom: 20px;
}

.sidebar .widget-testimonials .item .author-info .image {
    margin-right: 10px;
}

.sidebar .widget-testimonials .item .author-info .image img {
    width: 60px;
    height: 60px;
    border-radius: 999px;
}

.sidebar .widget-testimonials .item .author-info h3 {
    font-size: 16px;
    margin-bottom: 0;
}

.sidebar .widget-testimonials .item .author-info .designation {
    font-size: 0.9em;
}

.sidebar .widget-question {
    text-align: center;
    padding: 25px 15px;
}

.sidebar .widget-brochure {
    border-width: 1px;
    border-style: solid;
    padding: 15px;
    font-size: 17px;
}


/*-------------------------------------------------*/
/* PRICING AREA
/*-------------------------------------------------*/

.pricing-area.style-one {
    padding: 120px 0;
}

.pricing-area.style-one .pricing-table {
    border-width: 1px;
    border-style: dashed;
    padding: 40px 50px;
}

.pricing-area.style-one .pricing-table .pricing-table-title {
    margin-bottom: 10px;
}

.pricing-area.style-one .pricing-table .pricing-table-price {
    margin: 0;
    font-size: 36px;
    line-height: 50px;
    padding-bottom: 20px;
    font-weight: 100;
}

.pricing-area.style-one .pricing-table .pricing-table-duration {
    margin-left: 11px;
    font-size: 18px;
    font-weight: 300;
}

.pricing-area.style-one .pricing-table .pricing-table-features {
    margin-bottom: 30px;
    padding-left: 0;
    list-style: none;
}

.pricing-area.style-one .pricing-table .pricing-table-features li {
    line-height: 35px;
}

.pricing-area.style-two {
    padding: 90px 0 100px;
}

.pricing-area.style-two .section-header {
    margin-bottom: 80px;
}

.pricing-area.style-two .pricing-box {
    text-align: center;
    padding-bottom: 20px;
}

.pricing-area.style-two .pricing-box h2 {
    font-size: 60px;
    margin: 0px;
}

.pricing-area.style-two .pricing_heading {
    padding: 40px 0px;
}

.pricing-area.style-two .pricing-box h2 span {
    font-size: 26px;
    position: relative;
    top: -11px;
    padding-right: 6px;
}

.pricing-area.style-two .pricing-box h2 sub {
    font-size: 16px;
    position: relative;
    top: -3px;
    left: 5px;
}

.pricing-area.style-two .pricing-box h5 {
    border-bottom: 1px;
    border-style: solid;
    padding-bottom: 25px;
}

.pricing-area.style-two .pricing-box ul {
    padding: 35px 10px 35px 50px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    -webkit-transition: all .2s linear;
    transition: all .2s linear;
    list-style: none;
    margin-bottom: 0px;
    margin-top: 0;
}

.pricing-area.style-two .pricing-box h4 {
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    margin-top: 0px;
}

.pricing-area.style-two .pricing-box li {
    padding: 5px 0px;
}

.pricing-area.style-two .pricing-box a {
    background: transparent;
    border-radius: 50px;
    margin-top: 20px;
    border-width: 2px;
    border-style: solid;
}


/*-------------------------------------------------*/
/* TESTIMONIALS AREA
/*-------------------------------------------------*/

.testimonials-area.style-one {
    padding: 110px 0;
}

.testimonials-area.style-one .testimonial-single {
    padding: 0 2px;
}

.testimonials-area.style-one .testimonial-single .testimonial-body {
    position: relative;
    padding: 35px 20px;
    border-radius: 4px;
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
            box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
    margin-bottom: 30px;
}

.testimonials-area.style-one .testimonial-single .testimonial-body h6 {
    line-height: 1.5em;
}
.testimonials-area.style-one .testimonial-single .testimonial-body h6::after {
    position: absolute;
    bottom: -15px;
    left: 30px;
    content: '';
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #fff;
}

.testimonials-area.style-one .testimonial-single .testimonial-footer .customer-avatar {
    margin-right: 10px;
}

.testimonials-area.style-one .testimonial-single .testimonial-footer .customer-avatar img {
    width: 60px;
}

.testimonials-area.style-one .testimonial-single .testimonial-footer .customer-info h5 {
    margin-bottom: 0;
    line-height: 1.5;
}

.testimonials-area.style-one .testimonial-single .testimonial-footer .customer-info span {
    font-size: 12px;
    text-transform: uppercase;
}

.testimonials-area.style-two {
    padding: 100px 0 110px;
}

.testimonials-area.style-two .section-header {
    margin-bottom: 90px;
}

.testimonials-area.style-two .testimonials-box .testimonials-text {
    padding: 9%;
    text-align: center;
    border-radius: 5px;
    position: relative;
}

.testimonials-area.style-two .testimonials-box .testimonials-text::after {
    content: "";
    width: 10px;
    height: 10px;
    position: absolute;
    left: 20px;
    bottom: -23px;
    border-top: 12px solid #fff;
    border-bottom: 12px solid transparent;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.testimonials-area.style-two .testimonials-box .testimonials-img {
    text-align: left;
    margin-top: 30px;
}

.testimonials-area.style-two .testimonials-box .testimonials-img figure {
    width: 54px;
    height: 54px;
    margin: 0 15px 0 0;
    border-radius: 100%;
}

.testimonials-area.style-two .testimonials-box .testimonials-img h5 {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.1px;
    margin: 4px 0 2px;
}

.testimonials-area.style-two .testimonials-box .testimonials-img h5+span {
    font-size: 14px;
}


/*-------------------------------------------------*/
/* CALL ACTION AREA
/*-------------------------------------------------*/

.call-action-area.style-one {
    padding: 140px 0;
}

.call-action-area.style-one * {
    color: #15416e;
}

.call-action-area.style-two {
    padding: 120px 0;
}

.call-action-area.style-two h2 {
    font-size: 45px;
    position: relative;
    padding-bottom: 30px;
    margin-bottom: 50px;
}

.call-action-area.style-two h2:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -50px;
    display: block;
    width: 100px;
    height: 4px;
}

.call-action-area.style-three {
    padding: 40px 0;
}


/*-------------------------------------------------*/
/* VIDEO AREA
/*-------------------------------------------------*/

.video-area.style-one {
    padding: 120px 0;
}

.video-area.style-one p {
    color: #F1F1F1;
}

.video-area.style-two .video-container-fluid {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 991px) {
    .video-area.style-two .video-container-fluid {
        position: relative;
    }
}

.video-area.style-two .video-container {
    padding: 120px 0;
}

.video-area.style-two p {
    font-size: 16px;
}

.video-area.style-three {
    padding: 120px 0;
}

.video-area .video-play {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.1);
}

.video-area .video-play>a {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 999px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
    background-image: url("../images/icons/play-button.svg");
    background-size: cover;
    background-position: center;
}


/*-------------------------------------------------*/
/* TESTIMONIALS AREA
/*-------------------------------------------------*/

.testimonials-area.style-one .customer .customer-brand {
    text-align: center;
}

.testimonials-area.style-one .customer .customer-brand img {
    width: 180px;
}

.testimonials-area.style-one .customer p {
    margin-bottom: 30px;
}

.testimonials-area.style-one .customer .person img {
    display: block;
    margin: 15px auto;
    width: 50px;
    border-radius: 999px;
}

.testimonials-area.style-one .customer .person span {
    text-transform: uppercase;
}

.testimonials-area.style-two {
    padding: 100px 0;
}

.testimonials-area.style-two .testimonial-avatar {
    display: inline-block;
    width: 150px;
    border-radius: 999px;
}

.testimonials-area.style-two .testimonial-quote {
    line-height: 26px;
}


/*-------------------------------------------------*/
/* STATS AREA
/*-------------------------------------------------*/

.stats-area {
    padding: 100px 0;
}

.stats-area i {
    display: inline-block;
    font-size: 64px;
    margin-bottom: 10px;
}

.stats-area h2 {
    margin-bottom: 30px;
}

.stats-area h4 {
    text-transform: capitalize;
    font-weight: 700;
    margin-bottom: 30px;
}

.stats-area .timer {
    font-size: 52px;
    line-height: 52px;
}


/*-------------------------------------------------*/
/* PARTNERS AREA
/*-------------------------------------------------*/

.partners-area.style-one {
    padding: 80px 0;
}

.partners-area.style-two {
    padding: 90px 0 100px;
    background-color: #8894A3;
    background-size: 574px 326px;
}

.partners-area.style-two .section-header {
    margin-bottom: 100px;
}


/*-------------------------------------------------*/
/* BREADCRUMB AREA
/*-------------------------------------------------*/

.breadcrumb-area {
    padding-top: 140px;
    padding-bottom: 140px;
}

.breadcrumb-area * {
    color: #e7e7e7;
}

.breadcrumb-area.style-two {
    padding: 100px 0;
}

.breadcrumb-area.style-two a:hover {
    text-decoration: underline;
}

.breadcrumb-area.style-two .search-form {
    position: relative;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
}

.breadcrumb-area.style-two .search-form .search-input {
    display: block;
    width: 100%;
    color: #3f4652;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    border: none;
    padding: 0.875em 1.625em;
    padding-right: 4.375em;
    line-height: 2.25em;
    margin-bottom: 0;
    -webkit-appearance: none;
    position: relative;
}

.breadcrumb-area.style-two .search-form .search-input:focus {
    border: none;
    -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.1);
}

.breadcrumb-area.style-two .search-form .search-btn {
    position: absolute;
    font-size: 16px;
    color: #3f4652;
    background-color: transparent;
    border: none;
    top: 0.375em;
    right: 0;
    padding: 0.5em 1.25em;
    line-height: 2.25em;
    z-index: 2;
    outline: none;
}

.breadcrumb-area.style-two .search-form .search-btn:hover {
    color: #3f4652;
    background-color: transparent;
}

.breadcrumb-area.style-two .search-form .search-btn:focus {
    outline: none;
}

.breadcrumb-area.style-two .search-form .search-btn .search-icon {
    background-image: url("../images/icons/search.png");
    background-repeat: no-repeat;
    width: 1.25em;
    height: 1.25em;
    display: block;
    margin-top: 0.6em;
}


/*-------------------------------------------------*/
/* FAQ AREA
/*-------------------------------------------------*/

.faq-area.style-one {
    padding: 110px 0 120px;
}

.faq-area.style-one .section-header {
    margin-bottom: 70px;
}

.faq-area.style-one .faq-question h5 {
    padding-bottom: 18px;
}

.faq-area.style-one .faq-question .faq-question-num {
    padding-right: 15px;
}

.faq-area.style-two .faq-box {
    text-align: center;
    padding: 40px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.faq-area.style-two .faq-box:hover {
    -webkit-transform: translateY(-8px);
            transform: translateY(-8px);
    -webkit-box-shadow: 0 22px 40px rgba(0, 0, 0, 0.1);
            box-shadow: 0 22px 40px rgba(0, 0, 0, 0.1);
}

.faq-area.style-two .faq-icon {
    margin-bottom: 30px;
}


/*-------------------------------------------------*/
/* CONTACT AREA
/*-------------------------------------------------*/

.contact-area.style-one {
    padding: 110px 0 120px;
}

.contact-area.style-one .section-header {
    margin-bottom: 80px;
}

.contact-area.style-one .contact-wrap {
    -webkit-box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
            box-shadow: 0px 0px 30px rgba(115, 128, 157, 0.1);
}

.contact-area.style-one .contact-form {
    padding: 40px 40px 30px 40px;
}

.contact-area.style-two {
    padding: 80px 0;
}

.contact-area.style-two .col-map {
    position: static;
}

@media (max-width: 767px) {
    .contact-area.style-two .col-map {
        position: relative;
    }
}

.contact-area.style-two .contact-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    right: 0;
    margin-right: 15px;
    margin-left: 15px;
}

@media (max-width: 767px) {
    .contact-area.style-two .contact-map {
        position: relative;
        left: 0;
        margin: 0;
    }
}

.map-area .gmap {
    height: 400px;
}


/*-------------------------------------------------*/
/* SAY HELLLO AREA
/*-------------------------------------------------*/

.skills-area {
    font-weight: bold;
    padding: 140px 0;
}

.skills-area .h1 {
    margin-bottom: 30px;
}

.skills-area .progress {
    border-radius: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
    height: 2px;
    margin-bottom: 40px;
    overflow: visible;
    position: relative;
}

.skills-area .skill-bar-item:last-child .progress {
    margin-bottom: 0px;
}

.skills-area .progress-bar {
    -webkit-box-shadow: none;
            box-shadow: none;
    float: left;
    font-size: 12px;
    height: 100%;
    line-height: 20px;
    text-align: center;
    -webkit-transition: width 2s ease 0s;
    transition: width 2s ease 0s;
    width: 0;
    position: relative;
}

.skills-area .progress-bar:after {
    position: absolute;
    right: 0;
    top: -4px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    content: "";
}

.skills-area .skill-bar-item>h6 {
    display: block;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 2px;
    text-transform: capitalize;
}

.skills-area .skill-bar-item {
    overflow: hidden;
    text-align: left;
    padding-bottom: 6px;
}

.skills-area .progress span.text-top {
    font-size: 16px;
    font-weight: 400;
    position: absolute;
    right: 0;
    top: -26px;
    z-index: 8;
}


/*-------------------------------------------------*/
/* TALK TO US AREA
/*-------------------------------------------------*/

.talk-to-us-area {
    padding-top: 120px;
    padding-bottom: 120px;
}

.talk-to-us-area .wrapper {
    width: 95%;
    margin: 0 auto;
    max-width: 600px;
}


/*-------------------------------------------------*/
/* FAQ AREA
/*-------------------------------------------------*/

.faq-area {
    padding: 100px 0;
}

.faq-area .accordion .card:not(:last-child) {
    margin-bottom: 10px;
}

.faq-area .accordion .card .card-header {
    padding: 0.5rem 1.25rem;
}

.faq-area .skill-single {
    position: relative;
    display: block;
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
    border-radius: 10px;
    height: 15px;
    margin-top: 34px;
}

.faq-area .skill-single:not(:first-child) {
    margin-top: 50px;
}

.faq-area .skill-single .progress-label {
    font-size: 90%;
    position: relative;
    top: -34px;
}

.faq-area .skill-single .progress-label-units {
    font-size: 90%;
    position: absolute;
    top: -34px;
    right: 0;
}

.faq-area .skill-single .progress-bar {
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    display: block;
    height: 100%;
    width: 80%;
}


/*-------------------------------------------------*/
/* ERROR PAGE AREA
/*-------------------------------------------------*/

.error-page-area {
    padding: 140px 0;
}

.error-page-area .not-found-wrapper {
    margin: 0 auto;
    max-width: 770px;
    padding: 60px 50px;
    -webkit-box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
            box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}

.error-page-area .not-found-wrapper .form-control {
    max-width: 300px;
}

.error-page-area .not-found-wrapper img {
    max-width: 100px;
}


/*-------------------------------------------------*/
/* BLOG AREA
/*-------------------------------------------------*/

.blog-area.classic-blog {
    padding: 100px 0;
}

.blog-area.classic-blog .entry .entry-media {
    margin-bottom: 20px;
}

.blog-area.classic-blog .entry .entry-meta {
    margin-bottom: 5px;
    padding: 8px 0;
}

.blog-area.classic-blog .entry .entry-meta li {
    display: inline-block;
    margin-right: 15px;
}

.blog-area.classic-blog .entry .entry-meta li i {
    margin-right: 8px;
}

.blog-area.classic-blog .entry .entry-excerpt {
    margin-bottom: 10px;
}

.blog-area.latest-news {
    padding: 90px 0 100px;
}

.blog-area.latest-news .section-header {
    margin-bottom: 70px;
}

.blog-area.latest-news .entry .entry-image {
    position: relative;
    overflow: hidden;
    z-index: 3;
    margin-bottom: 24px;
}

.blog-area.latest-news .entry .entry-image img {
    max-width: 100%;
}

.blog-area.latest-news .entry h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: bold;
    letter-spacing: 0;
}

.blog-area.latest-news .entry-date {
    z-index: 3;
    position: absolute;
    left: 15px;
    bottom: 15px;
    height: 60px;
    width: 60px;
    text-align: center;
}

.blog-area.latest-news .entry-date h5 {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: .66px;
    padding-top: 13px;
    margin-bottom: 0;
    line-height: 15px;
}

.blog-area.latest-news .entry-date span {
    font-size: 16px;
    line-height: 16px;
}

.blog-single .embed-responsive {
    margin-bottom: 20px;
}

.entry-author .author-avatar {
    width: 150px;
}

.share-list li {
    display: inline-block;
}

.share-list li a {
    display: block;
    width: 90px;
    line-height: 35px;
    border-radius: 3px;
    margin-left: 8px;
    text-align: center;
    font-size: 13px;
    font-weight: bold;
}

.share-list li a i {
    line-height: 1;
    vertical-align: -1px;
    margin-right: 10px;
    font-size: 16px;
}

.share-list li:first-child a {
    background-color: #3b5998;
}

.share-list li:nth-child(2) a {
    background-color: #1da1f2;
}

.share-list li:nth-child(3) a {
    background-color: #dd4b39;
}

.sidebar .widget-title {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 30px;
}

.sidebar .widget-title:before {
    content: "";
    position: absolute;
    height: 2px;
    width: 50px;
    bottom: 0;
    left: 0;
}

.sidebar .search-form {
    position: relative;
}

.sidebar .search-form input[type="text"] {
    padding-right: 40px;
    border-radius: 3px;
}

.sidebar .search-form input[type="submit"] {
    position: absolute;
    right: 15px;
    top: 50%;
    margin: -8px 0px 0px;
    width: 16px;
    height: 16px;
    padding: 0px;
    background-size: 16px 16px;
    background-image: url("../images/icons/search.png");
    border: none;
}

.sidebar .recent-posts-widget h4 {
    font-size: 15px;
    margin-bottom: 5px;
}

.sidebar .recent-posts-widget span {
    font-size: 13px;
}

.sidebar .sidebar-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 13px;
    line-height: 36px;
    font-weight: 500;
    text-decoration: none;
    text-transform: uppercase;
}

.sidebar .sidebar-list li a:before {
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    margin-top: 1px;
    margin-right: 16px;
    border-radius: 50%;
}

.sidebar .tweets-widget .widget-body {
    background-color: #1da1f2;
    padding: 15px 20px;
}

.sidebar .tweets-widget h4 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 10px;
}

.sidebar .tweets-widget a:hover {
    text-decoration: underline;
}

.sidebar .tweets-widget .item {
    padding: 5px;
}

.sidebar .recent-comments-widget .comment-avatar {
    width: 56px;
}

.sidebar .recent-comments-widget h4 {
    font-size: 17px;
    margin-bottom: 0;
    padding-top: 2px;
}

.sidebar .recent-comments-widget span {
    font-size: 13px;
}

.comments .comments-header {
    margin: 30px 0;
    padding: 15px 0;
    border-width: 1px 0;
    border-style: solid;
}

.comments .comments-header .comments-title span {
    display: inline-block;
    font-size: 80%;
    height: 26px;
    width: 26px;
    line-height: 28px;
    border-radius: 50%;
    text-align: center;
    margin-left: 10px;
    vertical-align: middle;
}

.comments .comments-list>.comment:first-child {
    border-top-width: 0;
}

.comments .comments-list .comment {
    position: relative;
    overflow: hidden;
    margin: 0 0 30px;
    padding-left: 80px;
    padding-top: 20px;
    border-top-width: 1px;
    border-top-style: solid;
}

.comments .comments-list .comment:last-child {
    margin-bottom: 0;
}

.comments .comments-list .comment .comment-avatar {
    width: 60px;
    position: absolute;
    left: 0;
    top: 24px;
}

.comments .comments-list .comment .comment-avatar img {
    border-radius: 999px;
}

.comments .comments-list .comment .comment-meta {
    position: absolute;
    right: 0;
}

.comments .comments-list .comment .comment-reply-link {
    display: inline-block;
    font-size: 12px;
    padding: 4px 20px;
    text-transform: uppercase;
    border-radius: 40px;
    -webkit-transition: all 400ms linear;
    transition: all 400ms linear;
}

.comments .comments-list .comment .comment-name {
    font-size: 16px;
    margin-bottom: 5px;
}

.comments .comments-list .comment .comment-date {
    font-size: 13px;
    margin: 0 0 15px;
}

.comments .comments-list .comment .comments-replys {
    margin: 30px 0 0;
}

.comments .comments-list .comment .comments-replys>.comment:last-child {
    margin-bottom: 0;
}

.leave-comment .leave-comment-title {
    margin: 30px 0;
    padding: 15px 0;
    border-top-width: 1px;
    border-top-style: solid;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}


/*-------------------------------------------------*/
/* FOOTER AREA
/*-------------------------------------------------*/

.footer-area.style-one .footer-widgets {
    padding: 80px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.footer-area.style-one .footer-copyright {
    padding: 24px 0;
}

.footer-area.style-one .footer-list li {
    padding: 5px 0;
}

.footer-area.style-one .footer-copyright {
    font-size: 14px;
}

.footer-area.style-two {
    overflow: hidden;
    padding: 60px 0;
    text-align: center;
}

.footer-area.style-two .container {
    width: 92.5%;
    max-width: 520px;
}

.footer-area.style-three .footer-widgets {
    padding: 80px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.footer-area.style-three .footer-widgets .footer-description {
    line-height: 30px;
}

.footer-area.style-three .footer-widgets .social-list li {
    margin-right: 5px;
}

.footer-area.style-three .footer-widgets .social-list li a i {
    font-size: 16px;
    width: 34px;
    height: 34px;
    line-height: 34px;
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.footer-area.style-three .footer-widgets .widget .widget-title {
    font-size: 18px;
    margin-bottom: 30px;
}

.footer-area.style-three .footer-widgets .widget .links-list li {
    line-height: 30px;
}

.footer-area.style-three .footer-copyright {
    font-size: 13px;
    padding: 30px 0;
}

.footer-area.style-four .footer-widgets {
    padding: 90px 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}

.footer-area.style-four .footer-widgets h2 {
    font-size: 15px;
    margin-bottom: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 1px;
}

.footer-area.style-four .footer-widgets .social-list li {
    display: inline-block;
    margin-right: 6px;
}

.footer-area.style-four .footer-widgets .social-list li i {
    -webkit-box-sizing: padding-box;
            box-sizing: padding-box;
    font-size: 20px;
    border-width: 1px;
    border-style: solid;
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 999px;
    text-align: center;
    -webkit-transition: all 400ms linear 0ms;
    transition: all 400ms linear 0ms;
}

.footer-area.style-four .footer-copyright {
    padding: 24px 0;
}

.footer-area.style-four .footer-terms {
    font-size: 13px;
    text-transform: uppercase;
}