.aqua {
    background-color: #1dbaca;
}

.blue {
    background-color: #0e9df4;
}

.default {
    background-color: #963adf;
}

.gold {
    background-color: #bea042;
}

.green {
    background-color: #20bc99;
}

.lime {
    background-color: #abc502;
}

.orange {
    background-color: #ff8b00;
}

.pink {
    background-color: #e63770;
}

.red {
    background-color: #e54e4f;
}


.control-panel {
    z-index: 999;
    position: fixed;
    left: -260px;
    width: 260px;
    top: 200px;
}

.control-panel .panel-icon {
    background-image: url("../images/color.png");
    background-color: white;
    background-repeat: no-repeat;
    background-position: center top;
    cursor: pointer;
    position: absolute;
    top: 0;
    right: -40px;
    height: 40px;
    width: 40px;
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
}

.control-panel .panel-wrapper {
    background: white;
    float: right;
    width: 100%;
    box-shadow: 0 3px 5px 0 rgba(0, 1, 1, 0.1);
    padding: 20px;
}
.control-panel .panel-wrapper h5 {
    margin-bottom: 10px;
    line-height: 1.3;
    padding-left: 2px;
}
.control-panel .panel-wrapper p {
    font-size: 13px;
    color: #7b8b9c;
    padding-left: 2px;
}

.control-panel .color-switcher a {
    display: block;
    padding: 0;
    text-align: center;
}

.control-panel .color-switcher a div {
    margin: 0px;
    padding: 0;
    width: 100%;
    height: 33px;
    border-radius: 0px;
    box-sizing: border-box;
}
.control-panel .color-switcher a p {
    font-size: 11px;
    margin-top: 5px;
}

.control-panel .selected {
    border: 3px solid #000;
}

@media (max-width: 1024px) {
    .control-panel {
        display: none;
    }
}



.demo-header {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #545454;
    font-size: 12px;
    height: 54px;
    background-color: #262626;
    z-index: 100;
    line-height: 54px
}


.demo-header-logo {
    float: left;
    padding: 0 20px
}
@media (max-width: 491px) {
    .demo-header-logo {
        display: none;
    }
}
.demo-header-logo a {
    display: inline-block;
    position: absolute;
    top: 18px;
    text-indent: -9999px;
    height: 18px;
    width: 152px;
    background: url('../../../../public-assets.envato-static.com/assets/logos/envato_market-6eed4f715209e46c7454f26f3f25f7560d9d94713c11a5717436cd18642fb0a0.svg');
    background-size: 152px 18px
}

.demo-header-actions {
    float: right;
}
.demo-header-buy,
.demo-header-close {
    display: inline-block;
    padding: 0 20px
}

.demo-header-close {
    border-left: 1px solid #333
}

.demo-header-btn {
    display: inline-block;
    margin: 0;
    border: none;
    border-radius: 4px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-size: 14px;
    padding: 5px 20px;
    line-height: 1.5;
    background-color: #82b440;
    -webkit-box-shadow: 0 2px 0 #6f9a37;
    box-shadow: 0 2px 0 #6f9a37;
    position: relative;
    font-weight: 600;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

.demo-header-btn:hover,
.demo-header-btn:active {
    background-color: #7aa93c;
    color: #fff;
    text-decoration: none
}

.demo-header-close span {
    cursor: pointer;
    color: #999;
    text-decoration: none
}

.demo-header-close span i {
    line-height: 1;
    color: #fff;
    font-size: 18px;
    margin-right: 10px;
    font-weight: 700
}